@model IEnumerable<C__BookStore.Models.Products>


<h2>showProducts</h2>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">

                    <img src="@item.img_path" class="card-img-top img-fluid" alt="Album Image" style="max-height: 200px; object-fit: contain; width:100%">

                    <div class="card-body">
                        <h5 class="card-title">@item.product_name</h5>
                        <p class="card-text">
                            <strong>Price:</strong> @item.price
                            <strong>Total remaining:</strong> @item.quantity
                        </p>
                    </div>
                    <a href="/Products/buy?uid=@Session["uid"]&&pid=@item.product_id&&quantity=@item.quantity" 
                       style="text-decoration: none; color: black; border: 1px solid black; border-radius: 5px;">
                    Buy
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info">No albums found.</div>
}


<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
